{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
    <h1>Donnée pour initier le jeu</h1>
    <a href="{{ path('create_patient') }}">Ajouter un patient</a>

{% endblock %}
