* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    background-size: 100% 100%; /* Applique le dégradé sur toute la largeur et la hauteur */
    font-family: 'Roboto', sans-serif;
    height: auto;
    margin: 0;
}

.enteteTitre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
}

.logo {
    position: absolute;
    top: 4rem;
    left: 10rem;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    border-radius: 20%;
}

.titre {
    font-size: 3rem;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Pacifico';
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 5rem;
    width: 80%;
    margin: 0 auto;
}

.inputMusique {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    gap: 1.5rem;
}

.boutonEnregistrer {
    display: flex;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.boutonEnregistrer a {
    text-decoration: none;
}

.boutonEnregistrer:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.boutonEnregistrer:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.resultSpotify {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    padding: 1rem;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    text-align: center;
}

.card:hover {
    transform: scale(1.15);
}

.album-cover {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.track-info {
    font-size: 1rem;
    color: #fff;
    margin: 0.5rem 0;
}

.choose-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #969090;
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.2s;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.choose-button:hover {
    transform: scale(1.05);
}

.labelSupport {
    display: flex;
    font-size: 1rem;
    font-style: italic;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.textArea {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 1rem;
    gap: 2rem;
    border-radius: 5px;
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: black;
    cursor: text;
}

.merci {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
