* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    background-size: 100% 100%; /* Applique le dégradé sur toute la largeur et la hauteur */
    font-family: 'Roboto', sans-serif;
    height: auto;
    margin: 0;
}

.enteteTitre {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 6rem;
}

.logo {
    position: absolute;
    top: 4rem;
    left: 10rem;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    border-radius: 20%;
}

.titre {
    font-size: 3rem;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Pacifico';
}

.titre2 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Pacifico';
}

.paiement {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-top: 5rem;
    width: 50%;
    margin: 0 auto;
}

.boutonEnregistrer {
    display: flex;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 4rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-weight: bold;
    color: rgb(45, 136, 226);
    background: linear-gradient(105deg, #A2D2E6, #B2E5DA, #D3C6E8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.boutonEnregistrer a {
    text-decoration: none;
}

.boutonEnregistrer:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.boutonEnregistrer:active {
    transform: translateY(1px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 1rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(45, 136, 226);
}

.textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
    margin-top: 5rem;
    gap: 1rem;
    margin-bottom: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonSend {
    display: flex;
    height: 4rem;
    margin: 0 auto;
    flex-direction: row;
    gap: 1rem;
}

.buttonSend p {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    font-weight: bold;
    color: rgb(45, 136, 226);
}